.estimation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 80px 40px;
}

.estimation .title {
    text-align: center;
    font-size: 22px;
}

.estimation .subTitle {
    font-size: 15px;
}

.estimation input {
    padding: 10px 50px;
    border: 2px solid #7451EB;
    background-color: transparent;
    color: #7451EB;
    font-size: 16px;
    transition: all 1.3s linear;
}

.estimation input:hover {
    color: #fff;
    border: 2px solid #7451EB;
    background-color: #7451EB;
}