.container {
    margin-top: 100px;
    margin-bottom: 60px;
    padding: 50px;
}

.searchContainer {
    margin-top: 60px;
}

.productList {
    display: flex;
}

.searchBox {
    display: flex;
}

.boatList {
    width: 200rem;
    display: flex;
    justify-content: flex-start;
}

.card {
    width: 370px;
    margin: 10px;
    cursor: pointer;
}

.searchFilter {
    width: 850px;
    margin-right: 30px;
}

.card-body .card-title {
    text-transform: uppercase;
}

.btnLocation {
    background: #7451EB;
    border: none;
    color: #ffffff;
    border: solid 2px;
    width: 100%;
}

.btnLocation:hover {
    background: #fff;
    color: #7451EB;
    border: solid 2px #7451EB;
}


.btnLocation:active,
.btnLocation:focus {
    outline: solid 2px #7451EB;
    background: #fff;
    border: none;
    color: #7451EB;
    box-shadow: none;
}

.searchFilter {
    padding: 25px;
}

.boatType {
    margin: 5px;
    cursor: pointer;
}

small {
    cursor: pointer;
    font-size: 16px;
}

h4 {
    text-transform: capitalize;
}

.priseValue {
    display: flex;
    padding: 0;
}

.priseValue span {
    font-weight: bold;
    margin-top: -3px;
}

span:nth-child(2n)::after {
    content: "-";
    font-weight: bold;

}

/* searchFilter */
.boatType {
    margin: 5px;
    cursor: pointer;
}

small {
    cursor: pointer;
    font-size: 16px;
}

h4 {
    text-transform: capitalize;
}

.priseValue {
    display: flex;
    padding: 0;
}

.priseValue span {
    font-weight: bold;
    margin-top: -3px;
}

span:nth-child(2n)::after {
    content: "-";
    font-weight: bold;

}

/* Responsive */
@media (max-width: 1040px) {
    .searchFilter {
        display: none;
    }



    .card {
        max-width: 50rem;
        /* margin-left: 0; */
    }
}